
/*
    Name: Patrick Callahan
    Date: 1/23/2018
    File Name: calculator.css
 */


#root{
    -fx-font-size: 10pt;
    -fx-font-family: "Helvetica";
    -fx-base: #DFB951;
    -fx-background: #e0a8ff;
    -fx-focus-color: #B6A678;
}

#buttons{
    -fx-text-fill: #2fe2c8;
    -fx-background-color: #e03ec8;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-padding: 5;
}


                        